@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-bg {
    background: linear-gradient(to bottom, #12181b, #1c2330);
  }

  .custom-shape-divider-top-1686024551 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1686024551 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 71px;
}

.custom-shape-divider-top-1686024551 .shape-fill {
    fill: #62411F;
}

.custom-shape-divider-top-1686044277 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1686044277 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 45px;
}

.custom-shape-divider-top-1686044277 .shape-fill {
  fill: #7724C3;
}

.custom-shape-divider-top-1686074993 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1686074993 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 79px;
}

.custom-shape-divider-top-1686074993 .shape-fill {
  fill: #1c2330;
}

/* styles.css */
h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 14vh;
  /* additional styles for heading 1 */
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 14px;
  margin-bottom: 14px;
  /* additional styles for heading 2 */
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 14px;
  margin-bottom: 14px;
  /* additional styles for heading 3 */
}
